<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="PUT-GUID-HERE" Language="1033" Manufacturer="PUT-COMPANY-NAME-HERE" Name="PUT-PRODUCT-NAME-HERE" UpgradeCode="PUT-GUID-HERE" Version="1.0.0.0">
        <Package Compressed="yes" InstallerVersion="200" />
        <Directory Id="TARGETDIR" Name="SourceDir" />
        <Feature Id="ProductFeature" Level="1" Title="PUT-FEATURE-TITLE-HERE">
            <ComponentGroupRef Id="PracticumEmailer.Ui.Binaries" />
            <ComponentGroupRef Id="PracticumEmailerComponents" />
        </Feature>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    </Product>
    <Fragment>
        <DirectoryRef Id="PracticumEmailer.Ui.Binaries" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PracticumEmailer.Ui.Binaries">
            <ComponentRef Id="cmpF18F6FCDDD46594CCF282F847CFA7908" />
            <ComponentRef Id="cmp78154460124BC7AF96FAA8A93C69A312" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PracticumEmailerComponents">
            <Component Id="cmpF18F6FCDDD46594CCF282F847CFA7908" Directory="PracticumEmailer.Ui.Binaries" Guid="*">
                <File Id="fil0501F998B08AA4EB21E7228155707AFE" Source="$(var.PracticumEmailer.Ui.TargetDir)\PracticumEmailer.Ui.exe" />
            </Component>
            <Component Id="cmp78154460124BC7AF96FAA8A93C69A312" Directory="PracticumEmailer.Ui.Binaries" Guid="*">
                <File Id="fil6AE10E254857125F414163A4C43DC0D2" Source="$(var.PracticumEmailer.Ui.TargetDir)\PracticumEmailer.Ui.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>