<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PracticumEmailer.Ui.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PracticumEmailer.Ui.Properties.Settings>
      <setting name="CourseDataFile" serializeAs="String">
        <value>PracticumEmailer\CourseData\courses.json</value>
      </setting>
      <setting name="TemplateDirectory" serializeAs="String">
        <value>PracticumEmailer\Email\Templates</value>
      </setting>
      <setting name="HeaderTemplate" serializeAs="String">
        <value>header.html</value>
      </setting>
      <setting name="FooterTemplate" serializeAs="String">
        <value>footer.html</value>
      </setting>
      <setting name="FcsrTemplate" serializeAs="String">
        <value>fcsr.html</value>
      </setting>
      <setting name="FbiTemplate" serializeAs="String">
        <value>fbi.html</value>
      </setting>
      <setting name="LiabTemplate" serializeAs="String">
        <value>liab.html</value>
      </setting>
      <setting name="TbTemplate" serializeAs="String">
        <value>tb.html</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>Required Clearance Documents</value>
      </setting>
      <setting name="MaximumTestEmails" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BaseDataDirectory" serializeAs="String">
        <value>PracticumEmailer</value>
      </setting>
    </PracticumEmailer.Ui.Properties.Settings>
  </userSettings>
</configuration>