<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\Platform.wxi?>
	<Product Id="*" Name="PracticumEmailer" Language="1033" Version="1.0.0.0" Manufacturer="Reid" UpgradeCode="c66c101c-39e1-43ad-9305-20a5c81a4849">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
      
		<Feature Id="ProductFeature" Title="PracticumEmailer.Msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="C.PracticumEmailer.Shortcut"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="PracticumEmailer">
          <Directory Id="en_US" Name="en-US" />
          <Directory Id="zh_CN" Name="zh-CN" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="PracticumEmailer.Ui"/>
      <ComponentGroupRef Id="PracticumEmailer.Domain"/>
      <ComponentGroupRef Id="PracticumEmailer.Interfaces"/>
      <ComponentGroupRef Id="SmithHtmlEditor"/>
		</ComponentGroup>
	</Fragment>
</Wix>