<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PracticumEmailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PracticumEmailer.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PracticumEmailer.Properties.Settings>
            <setting name="CutOffDate" serializeAs="String">
                <value>2012-05-10</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value />
            </setting>
        </PracticumEmailer.Properties.Settings>
        <PracticumEmailer.settings>
            <setting name="CutOffDate" serializeAs="String">
                <value>2012-05-10</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>""</value>
            </setting>
        </PracticumEmailer.settings>
    </userSettings>
</configuration>