<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PracticumEmailer.Data.ColumnMappings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PracticumEmailer.Data.ColumnMappings>
            <setting name="CourseId" serializeAs="String">
                <value>Course ID</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="MNumber" serializeAs="String">
                <value>M-Number</value>
            </setting>
            <setting name="TbExpiration" serializeAs="String">
                <value>TB Test Exp</value>
            </setting>
            <setting name="PliExpiration" serializeAs="String">
                <value>Liability Insurance Expiration</value>
            </setting>
            <setting name="FcsrExpiration" serializeAs="String">
                <value>FCSR Expiration Date</value>
            </setting>
            <setting name="FbiExpiration" serializeAs="String">
                <value>FBI_Expiration</value>
            </setting>
            <setting name="ProgramDescription" serializeAs="String">
                <value>Program_Desc</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>Email_Address</value>
            </setting>
        </PracticumEmailer.Data.ColumnMappings>
    </applicationSettings>
</configuration>