<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PracticumEmailer.Domain">
      <ComponentRef Id="C.PracticumEmailer.Domain.dll" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="C.PracticumEmailer.Domain.dll" Guid="*">
        <File Id="F.PracticumEmailer.Domain.dll" Source="$(var.PracticumEmailer.Domain.TargetDir)PracticumEmailer.Domain.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>