<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PracticumEmailer.Ui">
      <ComponentRef Id="C.PracticumEmailer.Ui.exe" />
      <ComponentRef Id="C.PracticumEmailer.Ui.exe.config" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="C.PracticumEmailer.Ui.exe" Guid="*">
        <File Id="F.PracticumEmailer.Ui.exe" Source="$(var.PracticumEmailer.Ui.TargetDir)PracticumEmailer.Ui.exe" />
      </Component>
      <Component Id="C.PracticumEmailer.Ui.exe.config" Guid="*">
        <File Id="F.PracticumEmailer.Ui.exe.config" Source="$(var.PracticumEmailer.Ui.TargetDir)PracticumEmailer.Ui.exe.config" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>